 
    .ul1 {
        padding: 20px;
        margin: 0;
        list-style-type: none; /* Elimina el estilo de lista por defecto */
        
      }
    
    .li1 {
      font-size: clamp(1.3rem, 1.5vw, 1.7rem);
      line-height: 2;
      padding-left: 15px;
      position: relative;
      font-weight: 300;
      color: white;
    }
    
    .li1:before {
        position: absolute;
        left: 0;
        top: 0;
        color: #000; /* Color de la viñeta */
    }

    .li1:not(:last-child) {
        border-bottom: 1px solid #e0e0e0; /* Línea de separación entre ítems */
    }

    