body {
    font-family: Montserrat, sans-serif;
    margin: 0;
    padding: 0;
    background-color: RGB(169, 169, 169);
    }
     
  
.creditos {
    color: #fff;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 80px 20px;
    background: RGB(192, 192, 192); 
    border-radius: 8px; /* Bordes redondeados */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); 
    }
    